@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-size: 12px;
}

@media (min-width: 1280px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 16px;
  }
}

body {
  font-size: 1rem;
}

a {
  background-image: linear-gradient(#ffffff 0 0);
  background-size: 0 1px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease;
}

a:hover {
  background-size: 100% 1px;
}

@media print {
  @page {
    size: A4; /* DIN A4 standard, Europe */
    margin: 27mm 8mm 20mm 0mm;
  }
}
